.genreModal {
     width: 90%;
    height: 73%;
    background-color:black;
    margin-left: 5%;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    z-index: 300;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out;
    font-family: var(--text-font);
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
   

}

.genreModalOpen {
    opacity: 0.95;
    transform: scale(1);
    visibility: visible;
     border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.controller {
    width: 200px;
    height: 330px;
    background-color: rgb(19, 19, 19);
    opacity: 1;
     border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    color: grey
}

.controller__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controller__top>small {
    background-color: darkred;
    padding: 5px;
    border-radius: 50%;

}

.controller__volume {
    margin-top: 20px;
    text-align: center;
    color: grey;
}

.controller__volume>small{
    margin-right: 10px;
}

.controller__genresList {
    text-align: center;
    margin-top: 10px;
}

.controller__btnlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.genreBtns {
    width: 90px;
    background-color: transparent;
    padding: 5px;
    font-size: 10px;
    margin-bottom: 5px;
    margin-right: 3px;
    color: grey;
    cursor: pointer;
   
    
}

.genreBtns:hover {
    color: var(--yellow-color);
}