.movieModal {
     width: 100%;
    height: 100%;
    background-color:rgba(235, 235, 6);
   
    border-radius: 50%;
    border: 3px solid black;
    position: sticky;
    z-index: 300;
  
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out;
    font-family: var(--text-font);
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    display: none;


}

.movieModalOpen {
    opacity: 1;
    transform: scale(1);
    
     border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
}


.movieModal__left {
  flex: 0.4;
  text-align: center;

}
.movieModal__left>h1 {
    color: black;
    margin-bottom: 15px;
    
}

.movieModal__vote {
    font-size: 40px;
    font-family: var(--text-font);
    font-weight: bolder;
    text-align: center;
    color: rgb(50, 49, 49);
    margin-left: 10px;
}

.movieModal__right {
    flex: 0.6;
    background-color: black;
    color: var(--yellow-color);
    height: 100%;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    
}
.movieModal__right>h2 {
    font-size: 40px;
    margin-bottom: 30px;
    border-left: 20px solid darkred;
    border-bottom: 3px solid darkred;
    width: 180px;
}
.movieModal__right>p {
    margin-bottom: 30px;
    color: rgb(82, 81, 81);
    font-size: 18px;
}


.imageDiv {
    border: 2px solid darkred;
    padding: 10px;
    width: 50%;
    margin: 0px auto;
}


@media(max-width:762px){
    .movieModal__right{
        padding: 50px;
    }
}

@media(max-width:690px){
    .movieModal__right{
        padding: 15px;
        text-align: center;
    }
    .movieModal__vote {
        font-size: 30px;
    }
    .movieModal {
        flex-direction: column;
    }
    .imageDiv {
        height: 100px;
        width: 24%;
    }
    .imageDiv img {
        height: 100%;
    }
    .movieModal__right>h2{
        font-size: 20px;
    }
    .movieModal__right>p{
        font-size: 15px;
        width: 80%;
        text-align: center;
        margin: auto;
    }
}

@media(max-width:577px){
    .movieModal__right{
        padding: 10px;
        text-align: center;
    }
    .movieModal__vote {
        font-size: 20px;
    }
    .movieModal {
        flex-direction: column;
    }
    .imageDiv {
        height: 80px;
        width: 26%;
    }
    .imageDiv img {
        height: 100%;
    }
    .movieModal__right>h2{
        font-size: 18px;
    }
    .movieModal__right>p{
        font-size: 13px;
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .movieModal__left>h1{
        font-size: 23px;
    }
    .movieModal__right>h2{
        margin-bottom: 10px;
    }
    .movieModal__right>h4{
        font-size: 13px;
    }
}