.bannerRight {
    width:55%;
    background-color:black;
    text-align: center;
}

.bannerRight__titleR {
    color: white;
    margin-top: 150px;
    font-family: var(--text-font);
}

.bannerRight__titleR>h2 {
    font-size: 35px;
    border-top: 3px solid var(--yellow-color);
    width: 5%;
    margin: 0px auto;
}
.bannerRight__titleR>h1{
    font-size: 45px;
    
    border-bottom: 3px solid var(--yellow-color);
    width: 13%;
    margin: 0px auto;
    margin-top: -20px;
}

.bannerRight__movieContainer {
    width: 34%;
    background-color: rgb(23, 22, 22);
    height: 300px;
    margin: 30px auto 0px auto;
    border-radius: 12px;
    overflow-y:scroll;
    padding-left: 20px;
    border: 3px solid darkred;
    
}

.bannerRight__imgContainer {
    
    margin-bottom: 10px;
   
}


::-webkit-scrollbar{
    visibility: hidden;
}
::-webkit-scrollbar-thumb{
    
    border-radius: 10px;
    width: 10px;
    
    
}